
body {
    display: flex;
    flex-direction: column;
   
 
  }



  #logo1{
  color:  #ffffff;
  font: normal 35px 'Cookie', cursive;
}

#logo2{
  color:  #5383d3;
  font:normal 35px 'Cookie', cursive;
}

  #main {
    flex: 1 0 auto;
    height: 100vh;
     background-image: url(../images/mainpage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

  }

.heading{
	font-size: 4.3em;
font-family: 'Raleway', sans-serif;
	
}

.subheading{
font-size: 1.1em;
}

.maincontent{
	text-shadow: 1px 1px #263238;
	color:#f5f5f5;
text-align: center;
margin-top: 15%;

}

.brand-logo{
		font-size: 1.7em !important;

}

.footer-distributed{
  margin: 0 !important;
}
