{% extends 'navbar.html' %} {% load static %} {% block content %}

<title>Travel Share</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Manuale" rel="stylesheet">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

<link rel="stylesheet" href="{% static 'authen/css/style.css' %}">
<link rel="stylesheet" href="{% static 'authen/css/footer-distributed-with-address-and-phones.css' %}">
<h4 style="font-family: 'Playfair Display', serif;  text-transform: capitalize; font-size: 2em;" class="center-align" id="Public-Profile-Header">User list</h4><hr style="width:5%; border: 1px solid #ccc;"/>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>



<div class="row" style="width:80%">

    {% for p in list %}
    <div class="col s12  col m6 col l4  gallery_image ">
        <div class="card">
            <div class="card-image">
                {% if p.profile_pic %}
                <img width="400" height="250" src="{{p.profile_pic.url}}">                
                {% else %}
                <img width="400" height="250" src="">                
                {% endif %}
                <span class="card-title" style="text-shadow: 1px 1px #000; font-size: 2em">{{p.user.username}}</span>
                <a href="/friends/{{p.user.username}}/" class="btn-floating halfway-fab waves-effect waves-light red">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </div>
            <div class="card-content">
                <p id="details" style="font-family: 'Manuale', serif; ">{{p.bio|slice:"0:150"}}...</p>
            </div>
            <div class="card-action">
                <div style="font-family: 'Manuale', serif; text-align:justify;color: #1a237e""> {{p.email}}</div>

            </div>
        </div>
    </div>

    {% endfor %}
</div>






<!-- close col-md-12 -->


<!-- close col-md-12 

    <div class="col-md-12" id="Public-Profile-Users-Flyers-Container">
        <h4 id="Public-Profile-Header">{{profile.user.username}}'s TRAVEL VIDEOS</h4>
        <hr>
        <div class="col-md-12 gallery">
            <div class="row">
                {% for video in videos %}                    
                <div class="col-xs-12 col-sm-12  col-md-6  gallery_image">
                    <div class="img-wrap">
                        <form method="post" action="http://davidtrushkov.com/travel/photos/112">
                            <input type="hidden" name="_token" value="Tg5OWNRqqzUG9fLWKOUaDFkPUzf3l5nSyp8onTyC">
                            <input type="hidden" name="_method" value="DELETE">

                            <video class='center' controls>
                                <source src="{{video.video.url}}" type="video/mp4">
                            </video>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    close col-md-12 -->
</div>
{% endblock content %}
<!-- close container -->